#h1{
    color: red;
}
#span1{
    color: royalblue;
}
#p2{
    color: rgb(189, 18, 189);}
    #span3{
        color: red;
    }
#span4{
    color: greenyellow;
}  
#p4{
    color: rgb(255, 242, 122);
} 
#span5{
    color: magenta;
} 
#p6{
    color: rgb(255, 242, 122);
} 
#span6{
    color: magenta;
} 
